[Unit]
Description=Photonix classification_color_processor
After=network.target __APP__-app_server.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/srv/photonix
EnvironmentFile=__FINALPATH__/photonix.env
ExecStart=/usr/bin/env bash -c "PATH=__FINALPATH__/venv/bin:$PATH sleep 9 && nice -n 19 __FINALPATH__/venv/bin/python __FINALPATH__/srv/photonix/manage.py classification_color_processor"
StandardOutput=append:/var/log/__APP__/__APP__-classification_color_processor.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
