[Unit]
Description=Photonix raw_scheduler
After=network.target __APP__-app_server.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/srv/photonix
EnvironmentFile=__FINALPATH__/photonix.env
ExecStart=/usr/bin/env bash -c "PATH=__FINALPATH__/venv/bin:$PATH sleep 5 && nice -n 17 __FINALPATH__/venv/bin/python __FINALPATH__/srv/photonix/manage.py raw_scheduler"
StandardOutput=append:/var/log/__APP__/__APP__-raw_scheduler.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
