[Unit]
Description=Photonix thumbnail_processor
After=network.target __APP__-app_server.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/srv/photonix
EnvironmentFile=__FINALPATH__/photonix.env
ExecStart=/usr/bin/env bash -c "PATH=__FINALPATH__/venv/bin:$PATH sleep 7 && nice -n 17 __FINALPATH__/venv/bin/python __FINALPATH__/srv/photonix/manage.py thumbnail_processor"
StandardOutput=append:/var/log/__APP__/__APP__-thumbnail_processor.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
